@import "primeng/resources/themes/lara-light-green/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

.error-message {
    color: red; 
}

.field{
    margin-top: 1.75rem;
}

.p-input-icon-right{
    display: inline;
}

.p-calendar input{
    width: max-content;
}