.step {
    display: flow-root;
    padding-top: 1rem;
}

.authentication-card {
    max-width: 20rem;
    margin: auto;
    align-self: center;
}

.authentication-card .mat-card-title {
    text-align: center;
    margin: auto;
}